#banner {
    text-align:left;
    font-weight:bolder;
}

#title {
    text-align:center;
}

#shadow {
    color: rgba(7, 33, 43, 0.99);
    background-size: 1400px 800px;
    background-color: #3feee6;
}

.green1 {
    background-color: rgba(102, 219, 203, 0.81);
}

.green2 {
    background-color:red;
}

.green3 {
    background-color:blue;
}

.green4 {
    background-color:gray;
}

#name {
    font-weight:bolder;
}

ul, p{
    margin-left: 20px;
}

.front {
    /*background-color:rgba(240, 250, 254, 0.8);*/
    padding:10px;
    width: 80%;

}

.navlist {
    text-transform:uppercase;
    display: inline-flex;
    background-color:#F73054;
    width:100%;
    color: white;
    justify-content:space-around;
    padding:10px 20px;
    align-items:center;
    letter-spacing:5px;

}

.navlist li {
    list-style:none;
}

#options {
    width:40%;
}

#more-container {
    margin:10px 5%;
}

a {
    color:inherit;
    border-radius:10px;
}

a:hover {
    color:white !important;
    background-color:black;
}

.clock {
    background-color:black;
    border-radius:25px;
    padding:2px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

#give-cat {
    margin:15px;
}

#quotes {
    border-width:thick;
    border-color:black;
    border-style:none;
    margin:5px 30px;
    background-color:#97caef;
    width:fit-content;
    border-radius:25px;
    font-family: 'Permanent Marker', cursive;
}

#changer {
    margin-left: 2%;
    border-style:none;
    border-radius:10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

#changer:hover {
    background-color:#17D4FE;
}